{{ define "main"}}

<div class="themelist">
{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
{{range $paginator.Pages }}
    <section class="article">
        <h2 class="article-title">{{ .Title }}</h2>
        <p class="article-description">{{ .Description }}</p>
        {{ if .Params.Image }}
            {{ with .Resources.GetMatch (.Params.image) }}
                {{ $image400x := (.Resize "300x400") }}
                <img src="{{ $image400x.RelPermalink }}" class="article-img">
            {{ end }}
        {{ else }}
            <img src="https://via.placeholder.com/300x400.png" class="article-img" />
        {{ end }}
    </section>
{{ end }}
</div>
{{end}}
